BeautifulSoup==3.2.1
Django==1.6.5
MySQL-python==1.2.5
South==1.0
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.0
lxml==3.3.5
psycopg2==2.5.3
pygal==1.4.6
static3==0.5.1
wsgiref==0.1.2
